.alergens {
  display: none;
  $font-color: $regular-font-color;
  text-align: left;

  margin-top: 0px;
  font-size: 20px;

  button {
    margin-bottom: 20px;
  }

  p {
    margin: 0;
  }

  svg {
    margin-left: 5px;
    font-size: 18px;
  }

  button {
    border: none;
    background-color: transparent;
    color: $font-color;
    cursor: pointer;

    display: flex;
    align-items: center;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex-basis: 100%;
    font-size: 20px;
    font-weight: normal;
  }
}
