.app {
  cursor: pointer;
  max-width: 300px;
  margin: 0 auto;

  .content {
    // background-color: $app-background-color;
    background-color: #9acc99;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .image {
    max-width: 140px;
    min-width: 100px;
  }

  img {
    max-width: 100%;
    // background-color: $app-image-background-color;
    border-radius: 10px;
    // padding: 10px;
  }

  p {
    margin: 0;
  }

  .text {
    margin: 0 10px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100%;

    p {
      font-size: 2rem;
      line-height: 2rem;
      margin-bottom: 10px;
    }

    small {
      font-size: 1.6rem;
      line-height: 1.6rem;
    }
  }

  .decoration {
    align-self: flex-end;
  }
}
