.customize-pizza {
  max-width: 800px;
  padding: 20px;

  font-size: 1.5rem;

  background-color: $cusotmize-pizza-background-color;
  color: $cusotmize-pizza-color;

  svg {
    color: $cusotmize-pizza-color;
  }

  button {
    color: $cusotmize-pizza-color;
  }

  .header {
    margin-bottom: 20px;
  }

  .modal-header {
    border: none;
  }

  .category {
    padding: 10px 20px;
    border: 1px solid #ddd;
  }
  .size {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }

  .size-button {
    flex-grow: 1;
    padding: 10px 20px;

    border-radius: 10px;

    text-align: center;

    &.active {
      background-color: $cusotmize-pizza-size-background-color;
      color: white;
    }
  }

  .category-button {
    margin-bottom: 20px;

    svg {
      margin-right: 10px;
    }

    small {
      margin-left: 10px;
    }
  }

  .addon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .count {
      margin-right: 10px;
    }
    .name {
      margin: 0 10px;
    }

    .edit {
      margin-left: auto;

      .plus {
        margin-left: 10px;
      }
    }

    .plus[disabled],
    .minus[disabled] {
      svg {
        color: #ddd;
      }
    }
  }

  .price-summary {
    font-weight: bold;
    text-align: right;

    p {
      margin: 0;
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .cancel {
      margin-right: 10px;
      padding: 10px 20px;
      border-radius: 10px;

      background-color: $red;
      color: white;
    }
    .save {
      padding: 10px 20px;
      background-color: $cusotmize-pizza-size-background-color;
      color: white;
      border-radius: 10px;
    }
  }

  .changes {
    font-size: $small-font-color;
    color: $small-font-color;
  }

  .amount {
    width: 100%;
    margin: 20px 0;
    justify-content: flex-end;
    align-items: center;
    display: flex;

    span {
      color: $green2;
      font-size: 2rem;
      margin: 0 10px;
    }

    button {
      font-size: 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
