.login {
  z-index: 2;
  position: fixed;

  height: 100vh;
  width: 100vw;
  left: 0;
  top: -100%;

  display: flex;
  flex-direction: column;

  color: $login-font-color;

  transition: top 0.3s;
  overflow: auto;

  font-size: 1.5rem;

  &.active {
    top: 0;
  }

  .content {
    position: relative;
  }

  .wrapper {
    position: relative;
    overflow: auto;
    padding: 50px 0;
    // background-image: url("../../images/background.jpg");
    background-color: black;
    background-attachment: fixed;
    background-size: cover;

    min-height: 100vh;
    width: 100%;

    margin: 0 auto;
  }

  form {
    margin: 0 auto;
    max-width: 300px;
  }

  .close {
    position: absolute;
    padding: 0px;
    top: $hidden-menu-close-size;
    right: $hidden-menu-close-size;
    cursor: pointer;

    svg {
      color: $login-font-color;
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .cancel {
      margin-right: 10px;
      padding: 10px 20px;

      background-color: $login-cancel-background-color;
      color: $login-cancel-color;
    }
    .save {
      background-color: $login-save-background-color;
      color: $login-save-color;
      padding: 10px 20px;
    }

    .remind {
      width: 100%;
      text-align: right;
      display: block;
    }
  }
}
