.login {
  display: flex;
  flex-direction: column;

  color: $login-font-color;

  transition: top 0.3s;
  overflow: auto;

  font-size: 1.5rem;

  .wrapper {
    background-color: white;
  }

  form {
    margin: 0 auto;
    max-width: 300px;
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .cancel {
      margin-right: 10px;
      padding: 10px 20px;

      background-color: $login-cancel-background-color;
      color: $login-cancel-color;
      border-radius: 10px;
    }
    .save {
      background-color: $login-save-background-color;
      color: $login-save-color;
      padding: 10px 20px;
      border-radius: 10px;
    }

    .remind {
      width: 100%;
      text-align: right;
      display: block;
    }
  }
}
