.login {
  height: 100vh;
  width: 100vw;
  top: -100%;
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: $hidden-menu-paddings;
  z-index: 2;
  overflow: auto;
  transition: top 0.3s;
  color: $hidden-menu-color;

  &.active {
    top: 0;
  }

  form {
    margin: 0 auto;
    max-width: 300px;
  }
  .close {
    position: absolute;
    top: $hidden-menu-close-size;
    right: $hidden-menu-close-size;
    padding: 0px;
    cursor: pointer;

    svg {
      color: white;
    }
  }
  .buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    .cancel {
      margin-right: 10px;

      background-color: $red;
      color: white;
      padding: 10px 20px;
    }
    .save {
      background-color: $green;
      color: white;
      padding: 10px 20px;
    }

    .remind {
      width: 100%;
      text-align: right;
      display: block;
    }
  }
}
