@media (min-width: 700px) {
  .navigation {
    .menu-expand {
      display: none;
    }
  }
  .alergens {
    display: block;
  }
  #menu {
    display: block;
  }

  .menu-card {
    flex-direction: row;
  }

  .navigation {
    h1 {
      display: initial;
    }
  }

  .menu-navigation {
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .menu-card {
    .menu-item {
      width: 50%;
    }
  }
}
