@media (min-width: 500px) {
  .menu-card {
    .alergens {
      li {
        flex-basis: 33%;
      }
    }
  }
}

@media (min-width: 700px) {
  .menu-card {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .menu-navigation {
    position: static;
    width: 250px;
    padding: 10px;
  }

  #menu {
    display: block;
  }

  .menu-expand {
    display: none;
  }

  .navigation {
    padding: 10px 50px;
  }
}

@media (min-width: 800px) {
  .menu-card {
    .menu-item {
      width: $media-column-size;
    }
  }
}

@media (min-width: 1200px) {
  .menu-card {
    .menu-item {
      width: 30%;
    }
  }
}
