.menu-item {
  width: 100%;
  padding: 2px;

  &.active {
    .wrapper {
      background-color: white;
      border: 1px solid white;

      color: black;
    }

    .price span {
      color: white;
      background-color: $red;
    }

    .basket {
      background-color: $green2;

      button.add {
        display: none;
      }

      button.remove {
        display: block;
      }
    }

    .count {
      button {
        color: black;
        border: 1px solid black;
        svg {
          fill: black;
        }
      }
    }
  }

  .wrapper {
    height: 100%;
    border: 1px solid $green2;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    max-width: 100%;

    display: flex;
    color: white;

    font-family: $font-3;
    letter-spacing: 1px;
  }

  p {
    margin: 0;
  }

  .image {
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 37.59%;

    img {
      max-width: 100%;
      border-radius: 20px;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    max-width: 62.41%;
  }

  .info,
  .buy {
    width: 100%;
    padding: 5px;
  }

  .buy {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .price {
    order: 2;
    display: flex;
  }
  .basket {
    font-size: 25px;

    padding: 5px 10px;
    background-color: $red;
    color: white;
    border-radius: 0 5px 5px 0px;

    button.add {
      display: block;
      color: white;
    }

    button.remove {
      display: none;
      color: white;
    }
  }

  .price span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: $green2;
    border-radius: 5px 0px 0px 5px;
  }

  .count {
    display: flex;
    align-items: center;

    span {
      margin: 0 10px;
      font-family: $font-2;
      font-weight: bold;
      color: $green2;
    }
    .add {
      order: 3;
    }
    .remove {
      order: 1;
    }
    span {
      order: 2;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: $font-1;
      height: 25px;
      width: 25px;
      border: 1px solid white;
      border-radius: 50%;
      font-size: 20px;

      svg {
        fill: white;
      }
    }
  }

  .details {
    font-family: $font-1;
  }
}
