.menu-card {
  min-height: 100vh;
  overflow-y: auto;
  padding-top: 95px;

  display: flex;
  flex-direction: column;

  .wrapper {
    max-width: 74.49%;
  }

  .categories {
    margin-top: 75px;
  }

  .menu-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  @import "menu-item";

  .category {
    width: 100%;
    display: none;
    animation: animatedOpacity 0.5s both reverse;

    &.active {
      display: block;
      animation: animatedOpacity 0.5s both;
    }
  }

  @keyframes animatedOpacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
