.menu-navigation {
  overflow-y: auto;
  min-width: 25.51%;

  font-size: $menu-navigation-font-size;
  color: $menu-navigation-color;
  font-weight: bold;

  overflow-y: auto;

  h1 {
    text-align: center;
    font-weight: bold;
    color: $menu-navigation-header-color;
    margin: $margins 0;
    font-size: $menu-navigation-header-font-size;
  }

  ul {
    height: 100%;
    width: 100%;
    padding: 0;

    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-items: stretch;

    font-family: $menu-navigation-font-family;
    letter-spacing: 1px;

    a {
      flex-grow: 1;
      display: block;
      padding: 5px 0px;
      cursor: pointer;
    }

    a.active {
      color: $menu-active-navigation-color;
    }
  }

  li:nth-child(1) {
    a {
      padding-top: 0;
    }
  }

  li {
    display: flex;
    align-items: center;
  }

  .icon {
    max-width: 30px;
    margin-right: 10px;
    img {
      max-width: 100%;
    }
  }
}
