.menu-item {
  width: 100%;
  padding: $menu-item-space-between-items;

  &.active {
    .wrapper {
      background-color: $menu-item-active-background-color;
      border: 1px solid $menu-item-active-border-color;
    }

    .name,
    .details {
      color: $menu-item-active-name-font-color;
    }

    .alergen {
      border-color: $menu-item-active-name-font-color;
    }

    .price span {
      color: $menu-item-active-price-color;
      background-color: $menu-item-active-price-background-color;
    }

    .basket {
      background-color: $menu-item-active-basket-background-color;
      color: $menu-item-active-basket-color;

      button.add {
        display: none;
      }

      button.remove {
        display: block;
      }
    }

    .count {
      button {
        // border: 1px solid $menu-item-active-name-font-color;

        svg {
          color: $menu-item-active-name-font-color;
        }
      }
    }
  }

  .wrapper {
    height: 100%;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid $menu-item-border-color;

    display: flex;
  }

  .image {
    min-width: 37.59%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    img {
      max-width: 100%;
      border-radius: 20px;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    max-width: 62.41%;
    width: 100%;
  }

  .name,
  .details {
    line-height: 20px;
  }

  .name {
    color: $menu-item-name-font-color;
    font-size: $menu-item-name-font-size;
    font-family: $menu-item-name-font-family;
    margin-bottom: 20px;
    p {
      margin: 0;
    }
  }

  .details {
    color: $menu-item-details-font-color;
    font-size: $menu-item-details-font-size;
    font-family: $menu-item-details-font-family;
    font-weight: 300;
  }

  .info,
  .buy {
    width: 100%;
    padding: 5px;
  }

  .buy {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    button {
      img {
        max-width: 100%;
      }
    }
  }

  .price {
    margin-top: 5px;
    order: 2;
    display: flex;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 32px;
    }
  }

  .price span {
    border-radius: 5px 0px 0px 5px;
    padding: 5px 10px;
    background-color: $menu-item-price-background-color;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $menu-item-price-color;
  }

  .basket {
    padding: 5px 10px;
    background-color: $menu-item-basket-background-color;
    border-radius: 0 5px 5px 0px;

    font-size: 25px;

    button.add {
      display: block;
      color: $menu-item-active-basket-color;
      font-size: 30px;
    }

    button.remove {
      display: none;
      color: $menu-item-active-basket-color;
    }
  }

  .count {
    display: flex;
    align-items: center;

    margin-top: 5px;

    span {
      margin: 0 10px;
      font-family: $font-2;
      font-weight: bold;
      color: $menu-item-count-color;
    }

    .add {
      order: 3;
    }

    .remove {
      order: 1;
    }

    span {
      order: 2;
    }

    .add,
    .remove {
      // border: 1px solid $menu-item-name-font-color;
      color: $menu-item-name-font-color;
      border-radius: 50%;
      height: 30px;
      width: 30px;

      font-size: 15px;

      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        color: white;
      }
    }
  }

  .alergen {
    display: none;
    height: $menu-item-alergen-size;
    width: $menu-item-alergen-size;

    border: 1px solid $menu-item-name-font-color;
    border: 1px solid red;
    border-radius: 50%;

    text-align: center;
    font-family: $menu-item-alergen-family;
    font-weight: 300;
    font-size: $menu-item-alergen-font-size;
  }
}
