.menu {
  @import "variables";
  @import "navigation";
  @import "menu-navigation";
  @import "menu-card";
  @import "alergens";
  @import "hidden-window";
  @import "order";
  @import "customize-pizza";
  @import "media";
  @import "login";
  @import "app";
  @import "qr";

  box-sizing: border-box;

  background-image: url("../../images/background-compressed.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;

  padding: 10px 20px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
