.menu-navigation {
  overflow-y: auto;
  font-size: 25px;
  color: $navigation-color;
  min-width: 25.51%;
  overflow-y: auto;

  font-weight: bold;

  h1 {
    text-align: center;
    font-weight: bold;
    color: $red;
    margin: 20px 0;
    font-size: 40px;
  }

  ul {
    font-family: $font-3;
    letter-spacing: 1px;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    padding: 0;
    width: 100%;

    a {
      white-space: nowrap;
      flex-grow: 1;
      display: block;
      padding: 5px 0px;
      cursor: pointer;
    }

    a.active {
      color: $green2;
    }
  }

  li {
    display: flex;
  }

  .icon {
    max-width: 30px;
  }
}
