.navigation {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 1280px;
  padding: 20px;
  transform: translateX(-50%);

  .wrapper {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    color: $navigation-color;
    align-items: center;
    padding: $navigation-vertical-padding 20px;
  }

  .title {
    position: relative;
    h1 {
      // display: none;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 28px;
      margin: 0;
      padding: 0;
    }

    .dec-1,
    .dec-2 {
      position: absolute;
      color: $green2;
    }

    .dec-1 {
      top: -13px;
      right: -18px;
    }

    .dec-2 {
      bottom: -20px;
      left: -20px;
      transform: rotate(180deg);
    }
  }

  .logo {
    margin-right: auto;
    max-width: $navigation-logo-size;
    img {
      max-width: 100%;
    }
  }

  .icons {
    display: flex;
    margin-left: auto;
    margin-right: 40px;
    svg {
      font-size: $navigation-icon-size;
      color: white;

      &:hover {
        color: $gold;
      }
    }
  }

  .user {
    margin-right: 15px;
  }

  .total {
    position: relative;
    right: -50%;

    background-color: $red;
    padding: 2px 4px;
    border-radius: 5px;
  }

  .user,
  .basket {
    button {
      border-radius: 50%;
      border: 1px solid white;
      height: 40px;
      width: 40px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
