.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid $navigation-border-color;
  box-shadow: $navigation-box-shadow;
  height: $navigation-height;
  padding: $navigation-paddings;
  background-color: $navigation-background-color;
  color: $navigation-color;
  z-index: 1;
  align-items: center;

  svg {
    font-size: $navigation-icon-size;
    margin-right: 10px;
  }

  .menu-expand {
    margin-right: auto;
  }
}
