.order {
  transition: top 0.3s;
  color: $order-text-color;

  font-size: 1.5rem;

  .wrapper {
    background-color: $order-background-color;
  }

  h3 {
    text-align: center;
    margin-bottom: 50px;
  }

  .order-item .basic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }

  .details {
    color: #444;
    font-size: 1.3rem;
  }

  .order-items {
    border-bottom: 2px solid #ddd;
  }

  .detail {
    text-align: end;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .name {
      margin-left: 20px;
    }
  }

  .name {
    margin-right: 10px;
  }

  .times {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: $hidden-menu-icon-size;
    }

    .count {
      margin-left: 10px;
    }
  }

  .edit {
    display: flex;
    align-items: center;

    .count {
      margin: 0 10px;
    }

    button {
      max-width: 2.8rem;
    }
  }
  .value {
    text-align: end;
    font-weight: bold;
  }

  .summary {
    margin-top: 20px;
    text-align: end;
    font-weight: bold;
  }

  p {
    margin: 0;
    padding: 10px 0;
  }

  .discount {
    background-color: $gold;
    color: white;
    padding-right: 10px;
    border-radius: 10px;
  }
  .total {
    font-weight: normal;
  }

  .total-to-pay {
    font-size: 18px;
  }

  .edit {
    display: flex;

    & > :nth-child(2) {
      margin-left: 10px;
    }

    button {
      font-size: 20px;
      padding: 0;
      border: none;
      background-color: transparent;
      color: white;
      width: 40px;
      img {
        max-width: 100%;
      }

      &:hover {
        color: $hidden-menu-hover-color;
        background-color: transparent;
      }
    }
  }

  a,
  button.save {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: $green2;
    display: block;
    text-align: center;
    color: white;
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }

  .back {
    margin-left: auto;
    background-color: $red;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .order-button {
    display: flex;
  }
}
