.order {
  height: 100vh;
  width: 100vw;
  top: -100%;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
  overflow: auto;
  transition: top 0.3s;
  color: $order-text-color;

  .wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: $max-width;
    // background-image: url("../../images/background.jpg");
    background-color: $order-background-color;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
  }

  .container {
    margin-top: 150px;
    max-width: 600px;
  }

  &.active {
    top: 0;
  }
  .close {
    position: absolute;
    top: $hidden-menu-close-size;
    right: $hidden-menu-close-size;
    padding: 0px;
    cursor: pointer;

    svg {
      color: $order-text-color;
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .name {
    flex-basis: 30%;
  }

  .times {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: $hidden-menu-icon-size;
    }

    .count {
      margin-left: 10px;
    }
  }

  .value {
    flex-basis: 30%;
    text-align: end;
    font-weight: bold;
  }

  .summary {
    margin-top: 20px;
    text-align: end;
    font-weight: bold;
  }

  p {
    margin: 0;
    padding: 10px 0;
  }

  .total,
  .discount {
    border-bottom: 1px solid #ddd;
  }

  .total-to-pay {
    font-size: 16px;
  }

  .edit {
    display: flex;

    & > :nth-child(2) {
      margin-left: 10px;
    }

    button {
      font-size: 20px;
      padding: 0;
      border: none;
      background-color: transparent;
      color: white;

      &:hover {
        color: $hidden-menu-hover-color;
        background-color: transparent;
      }
    }
  }

  a,
  button.save {
    padding: 10px 20px;
    border: 1px solid $order-text-color;
    display: block;
    text-align: center;
    color: $order-text-color;
    margin-left: auto;
  }
  a {
    text-decoration: none;
  }
}
