//colors
$green: #77aa03;
$green2: rgb(139, 204, 154);
$gold: #c87e29;
$red: #b30908;

$border-color: $gold;
$border-color: #444;
$small-font-color: #ccc;

//navigation
$navigation-color: white;
$navigation-background-color: black;
$navigation-border-color: white;
$navigation-box-shadow: -1px 0 4px transparent;
$navigation-color: white;
$navigation-icon-color: white;
$navigation-logo-size: 75px;
$navigation-vertical-padding: 10px;
$navigation-height: calc(
  #{$navigation-logo-size + 2 * #{$navigation-vertical-padding}}
);
$navigation-paddings: 10px;
$navigation-icon-size: 20px;

//menu-card
$background-color: black;
$regular-font-color: white;
$header-font-color: white;
$wrapper-color: transparent;
$header-font-size: 40px;
$regular-font-size: 30px;
$small-font-size: 25px;
$wrapper-vertical-padding: 50px;
$h2-margin-botton: 20px;

//menu-item
$buy-button-color: white;
$buy-button-background-color: $green;
$buy-button-background-color: $red;
$buy-button-size: 75px;
$buy-button-font-size: 14px;
$menu-item-background: black;
$menu-item-margin-bottom: 20px;
$menu-item-border-color: #333;

//category
$column-size: 100%;
$menu-item-paddings: 10px;
$menu-card-padding-top: $navigation-height;
$media-column-size: 48%;
//hidden-menu
$hidden-menu-background: black;
$hidden-menu-border-color: white;
$hidden-menu-hover-color: cadetblue;
$hidden-menu-color: white;
$hidden-menu-close-size: 30px;
$hidden-menu-icon-size: 12px;
$hidden-menu-paddings: 75px 20px;
