@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto&family=Roboto+Slab&display=swap");
//fonts
$font-1: "Open Sans", sans-serif;
$font-2: "Roboto", sans-serif;
$font-3: "Roboto Slab", serif;
$font-4: "Open Sans", sans-serif;

html {
  font-family: $font-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-4;
}

.hide {
  display: none;
}

.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
