.menu-card {
  @import "menu-navigation";
  background-attachment: fixed;
  background-size: cover;

  background-color: $background-color;
  color: $regular-font-color;

  display: flex;
  flex-direction: column;

  //#region basic
  .menu-item {
    display: flex;
    width: 100%;
    margin-bottom: $menu-item-margin-bottom;

    font-size: $regular-font-size;

    .numer {
      margin-right: 10px;
    }

    .info {
      margin-right: 10px;
    }

    .price {
      margin-left: auto;
      white-space: nowrap;
    }

    .buy {
      margin-left: 10px;
      button {
        position: relative;
        top: $button-position;

        display: flex;
        justify-content: center;
        align-items: center;

        justify-self: flex-end;

        margin-left: 10px;

        height: $buy-button-size;
        width: $buy-button-size;

        border-style: none;
        // border-radius: 50%;

        background-color: $buy-button-background-color;

        color: $buy-button-color;
        font-size: $buy-button-font-size;

        transition: 0.6s;
      }
    }
  }

  p {
    margin: 0;
  }

  //#endregion

  .wrapper {
    width: 100%;
    background-color: $wrapper-color;
    padding: 20px;
  }

  h2 {
    color: $header-font-color;
    font-size: $header-font-size;
    margin-bottom: $h2-margin-botton;
    margin-top: 0;
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: space-around;
    justify-items: space-between;
  }

  .categories {
    padding-top: 0;
  }

  .category {
    width: 100%;
  }

  .menu-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .menu-item {
    padding: $menu-item-paddings;
    // background-color: $menu-item-background;
    align-items: center;
    max-width: $column-size;
    display: flex;
    flex-wrap: wrap;

    border: 1px solid #ddd;
    box-shadow: -1px 1px 5px #ddd;
  }
  .image {
    width: 100%;
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  .info {
    width: 100%;
    margin: 20px 0;
  }
  .details {
    color: #777;
    font-size: $small-font-size;
  }
  .category {
    display: none;
    animation: animatedOpacity 0.5s both reverse;

    &.active {
      display: block;
      animation: animatedOpacity 0.5s both;
    }
  }
  .alergens button {
    text-decoration: underline;
    border: none;
    background-color: transparent;
    color: $regular-font-color;
    cursor: pointer;
  }
}

@keyframes animatedOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
